<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find stevie_control)/config/stevie_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen" ns="/stevie"
    args="joint_state_controller
      leftWheel_effort_controller
      rightWheel_effort_controller
      hip_position_controller
      upperBody_position_controller
      leftShoulder_position_controller
      rightShoulder_position_controller
      leftArm_position_controller
      rightArm_position_controller
      neck_position_controller
      head_position_controller"
  />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro '$(find stevie_description)/urdf/stevie.xacro'" />
    <remap from="/joint_states" to="/stevie/joint_states" />
  </node>


</launch>
