<?xml version="1.0"?>
<robot  xmlns:xacro="http://ros.org/wiki/xacro">

<!--
	<xacro:include filename="$(find stevie_description)/urdf/lower_body/lower_body.transmission.xacro" />
-->
	<xacro:include filename="$(find stevie_description)/urdf/wheels/wheels.xacro" />
	<xacro:include filename="$(find stevie_description)/urdf/caster/caster.xacro" />

	<!-- DECLARE VARIABLES -->
	<xacro:property name="lower_body_mass" value="40"/>
	<xacro:property name="lower_body_volume" value="0.016607"/>
	<xacro:property name="lower_body_length" value="0.485903"/>
	<xacro:property name="lower_body_width" value="0.516555"/>
	<xacro:property name="lower_body_height" value="0.475"/>

	<xacro:property name="lower_body_center_of_mass" value="-0.112043 0.000001 0.051805"/>
	<!--xacro:property name="lower_body_center_of_mass" value="-0.212043 0.000001 0"/-->

	<xacro:property name="PI" value="3.14159"/>

	<!--************************        LOWER BODY          ************************-->
  <xacro:macro name="lower_body" params="name" >

		<!-- base link -->
		<link name="base_link"/>

		<!-- lower body link -->
		<link name="${name}_link">
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<mesh filename="package://stevie_description/meshes/collision/lower_body_collision.stl" scale="0.001 0.001 0.001"/>
					<!-- <mesh filename="$(find stevie_description)/meshes/collision/lower_body_collision.stl" scale="0.001 0.001 0.001"/> -->
				</geometry>
			</collision>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
					<geometry>
				 		<mesh filename="package://stevie_description/meshes/visual/lower_body.stl" scale="0.001 0.001 0.001"/>
				 		<!-- <mesh filename="$(find stevie_description)/meshes/visual/lower_body.stl" scale="0.001 0.001 0.001"/> -->
					</geometry>
			</visual>
			<inertial>
				<origin xyz="${lower_body_center_of_mass}" rpy="0 0 0"/>
				<mass value="${lower_body_mass}"/>
				<xacro:scale_inertia m="${lower_body_mass}" v="${lower_body_volume}" ixx="0.0002557254" ixy="0.0000000013" ixz="0.0000038315" iyy="0.0004050320" iyz="-0.00000000634" izz="0.0004230882"/>
			</inertial>
		</link>

		<gazebo reference="${name}_link">
			<mu1>1.0</mu1>
			<mu2>1.0</mu2>
			<maxVel>0</maxVel>
			<material>Gazebo/White</material>
		</gazebo>

		<!-- footprint-lower_body joint -->
		<joint name="${name}_footprint_joint" type="fixed">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<parent link="base_link"/>
			<child link="${name}_link"/>
		</joint>

		<!-- wheels -->
		<xacro:wheel parent="${name}_link" side="right"/>
		<xacro:wheel parent="${name}_link" side="left"/>

		<!-- caster wheel -->
		<xacro:caster parent="${name}_link"/>

	</xacro:macro>
	<!--***********************************************************************-->

</robot>
