<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="neck_transmission">
		<transmission name="neck_transmission">
			<type>transmission_interface/SimpleTransmission</type>
			<!-- FOR HYDRO -->  <!--
			<joint name="wheel_${side}_joint"/>
			-->
			<!-- FOR INDIGO -->
			<joint name="upper_body_neck_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
    		</joint>
			<actuator name="neck_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>
	</xacro:macro>


	<xacro:macro name="head_transmission">
		<transmission name="head_transmission">
			<type>transmission_interface/SimpleTransmission</type>
			<!-- FOR HYDRO -->  <!--
			<joint name="wheel_${side}_joint"/>
			-->
			<!-- FOR INDIGO -->
			<joint name="neck_head_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
    		</joint>
			<actuator name="head_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>
	</xacro:macro>

</robot>
