<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="wheel_transmission" params="side">
		<transmission name="wheel_${side}_transmission">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="wheel_${side}_joint">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
    		</joint>
			<actuator name="${side}_motor">
				<hardwareInterface>EffortJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
		</transmission>
	</xacro:macro>

</robot>
