<?xml version="1.0"?>
<robot name="stevie" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- VARIABLES -->
  <xacro:property name="lower_body_name" value="lower_body"/>
  <xacro:property name="upper_body_name" value="upper_body"/>

	<xacro:property name="front_left_camera_name" value="front_left_camera"/>
	<xacro:property name="front_right_camera_name" value="front_right_camera"/>
	<xacro:property name="back_camera_name" value="back_camera"/>
	<xacro:property name="top_camera_name" value="top_camera"/>
	<xacro:property name="front_laser_name" value="front_laser"/>
	<xacro:property name="back_laser_name" value="back_laser"/>
	<xacro:property name="kinect_name" value="kinect"/>

	<xacro:property name="PI" value="3.14159"/>

  <!-- DEPENDENCIES -->
  <xacro:include filename="$(find stevie_description)/urdf/macros.xacro" />
  <xacro:include filename="$(find stevie_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find stevie_description)/urdf/stevie.gazebo"/>
  <xacro:include filename="$(find stevie_description)/urdf/sensors/sensor_macros.xacro"/>

  <!-- LOAD ROBOT COMPONENT FILES -->
  <xacro:include filename="$(find stevie_description)/urdf/lower_body/lower_body.xacro" />
  <xacro:include filename="$(find stevie_description)/urdf/upper_body/upper_body.xacro" />
  <xacro:include filename="$(find stevie_description)/urdf/arms/arms.xacro" />
  <xacro:include filename="$(find stevie_description)/urdf/head/head.xacro" />

  <!-- ROBOT COMPONENTS -->
  <xacro:lower_body  name="${lower_body_name}"/>


</robot>
