<?xml version="1.0"?>
<robot name="stevie" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- VARIABLES -->
  <xacro:property name="lower_body_name" value="lower_body"/>
  <xacro:property name="upper_body_name" value="upper_body"/>

	<xacro:property name="front_left_camera_name" value="front_left_camera"/>
	<xacro:property name="front_right_camera_name" value="front_right_camera"/>
	<xacro:property name="back_camera_name" value="back_camera"/>
	<xacro:property name="top_camera_name" value="top_camera"/>
	<xacro:property name="front_laser_name" value="front_laser"/>
	<xacro:property name="back_laser_name" value="back_laser"/>
	<xacro:property name="kinect_name" value="kinect"/>

	<xacro:property name="PI" value="3.14159"/>

  <!-- DEPENDENCIES -->
  <xacro:include filename="$(find stevie_description)/urdf/macros.xacro" />
  <xacro:include filename="$(find stevie_description)/urdf/stevie.gazebo"/>
  <xacro:include filename="$(find stevie_description)/urdf/sensors/sensor_macros.xacro"/>

  <!-- LOAD ROBOT COMPONENT FILES -->
  <xacro:include filename="$(find stevie_description)/urdf/lower_body/lower_body.xacro" />
  <xacro:include filename="$(find stevie_description)/urdf/upper_body/upper_body.xacro" />
  <xacro:include filename="$(find stevie_description)/urdf/arms/arms.xacro" />
  <xacro:include filename="$(find stevie_description)/urdf/head/head.xacro" />

  <!-- ROBOT COMPONENTS -->
  <xacro:lower_body  name="${lower_body_name}"/>
  <xacro:upper_body parent="${lower_body_name}_link" name="${upper_body_name}"/>
  <xacro:arm parent="${upper_body_name}_link" side="left"/>
  <xacro:arm parent="${upper_body_name}_link" side="right"/>
  <xacro:head parent="${upper_body_name}_link"/>

  <!-- SENSORS -->
  <!-- cameras -->
	<xacro:camera name="${front_left_camera_name}" parent="${upper_body_name}_link" xyz="0.11 -0.09 0.49" rpy="0 0 0"/>
	<xacro:camera name="${front_right_camera_name}" parent="${upper_body_name}_link" xyz="0.11 0.09 0.49" rpy="0 0 0"/>
	<xacro:camera name="${back_camera_name}" parent="${upper_body_name}_link" xyz="-0.12 0 0.49" rpy="0 0 ${PI}"/>
	<xacro:camera name="${top_camera_name}" parent="head_link" xyz="0.02 0 0.28" rpy="0 0 0"/>

  <!-- Hokuyo lasers -->
	<xacro:laser name="${front_laser_name}" parent="${lower_body_name}_link" xyz="0.003 0 0.358" rpy="0 0 0"/>
	<xacro:laser name="${back_laser_name}" parent="${lower_body_name}_link" xyz="-0.275 0 0.358" rpy="0 0 ${PI}"/>

	<!-- Kinect camera -->
	<xacro:kinect name="${kinect_name}" parent="${upper_body_name}_link" xyz="0.14 0 0.4" rpy="0 0 0"/>


</robot>
